<header>
  <div class="header-logo">
    FREGATE
  </div>
  <ul class="header-menus">
    <li>ABOUT FREGATE</li>
  </ul>
</header>

<div class="about-main">
  <h2>mine</h2>
  <p>
    CM、WEBムービー、映画など、映像メディアのCGアニメーションを提供しています。
    <br>
    単なる映像ではない、時間に沿ったデザイン。映像でしか表現できないビジュアル。
    <br>
    映像が必要なひとに、必要な映像を。それも良質なデザインされた映像を。
    <br>
    そんな映像を世の中に送り出すことをめざしています。
    <br>

  </p>
  <p>FRIGATE inc
    <br>
    address : ebisu,shibuya-ku,Tokyo,JAPAN
    <br>
    代表取締役 : yuji otake
    <br>
    資本金 : 500万円
    <br>
    事業内容 : 映像制作/アニメーション/デザイン
  </p>

</div>
