<div class="main top-main">
  <!-- <div class="top-message">
    <h2>TEST TOP</h2>
    <p>Hello</p>
    <br> -->
    <img>
      <%= image_tag 'jojo.jpg',:width => '640', :height => '360' %>
      <%= image_tag 'clone_wars.png',:width => '640', :height => '360' %>
      <%= image_tag("lite.png",size: "640x360") %>
     <%= image_tag 'strongzero.png',:width => '640', :height => '360' %>
    </img>
  </div>
</div>
