<header>
  <div class="header-logo">
    FREGATE
  </div>
  <ul class="header-menus">
    <li>ABOUT FREGATE</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>TEST TOP</h2>
    <p>Hello</p>
  </div>
</div>
