<div class="main top-main">
  <div class="top-message">
    <h2>WORK -reel-</h2>



<video width="320" height="240" controls="controls">
      <source src="/public/videos/lite_karaoke.webm"/>
 Your browser does not support the video tag.
</video>
<video width="320" height="240" controls="controls">
      <source src="/public/videos/lite_karaoke.mp4"/>
 Your browser does not support the video tag.
</video>

<%= video_tag("/public/videos/lite_karaoke.mp4", :controls => true) %>
