<!DOCTYPE html>
<html>
  <head>
    <title>FREGATE inc.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">FREGATE</a>
      </div>
      <ul class="header-menus">
      <li>
        <a href="/work">WORK</a>
      </li>
      <li>
        <a href="/about">ABOUT</a>
      </li>
      <li>
        <a href="/access">ACCESS</a>
      </li>
      <li>
        <a href="/contact">CONTACT</a>
      </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
